*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 73, 73);
}

main {
    width: 400px;
    height: 400px;
    background-color: rgb(150, 73, 73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, button{
    width: 80%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}